<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - KlingerStore</title>

    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />    

   
    <link href="~/lib/font-awesome/css/all.css" type="text/css" rel="stylesheet">

    
    <link href="~/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link rel="stylesheet" href="~/css/site.css" />

    
    <script src="~/js/site.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {            

        });       
    </script>

</head>
<body>

    <header class="section-header">

        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-4">
                        <a asp-controller="Catalog" asp-action="Index" class="brand-wrap">
                            <img class="logo" src="~/imagens/logo.png">
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <form action="#" class="search">
                            <div class="input-group w-100">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="widgets-wrap float-md-right">
                            <div class="widget-header  mr-3">
                                <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></a>
                                <span class="badge badge-pill badge-danger notify">0</span>
                            </div>
                            <div class="widget-header icontext">
                                
                                <div class="text">
                                    <partial name="_LoginPartial" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="section-footer border-top">
        <div class="container">
            <section class="footer-top padding-y">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Brands</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Adidas</a></li>
                            <li> <a href="#">Puma</a></li>
                            <li> <a href="#">Reebok</a></li>
                            <li> <a href="#">Nike</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Company</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Sobre nós</a></li>
                            <li> <a href="#">Carreira</a></li>
                            <li> <a href="#">Encontrar uma loja</a></li>
                            <li> <a href="#">Regras e termos</a></li>                            
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Help</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Contate-nós</a></li>
                            <li> <a href="#">Reembolso de dinheiro</a></li>
                            <li> <a href="#">Status do pedido</a></li>
                            <li> <a href="#">Informação de envio</a></li>                            
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Account</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#"> Login </a></li>
                            <li> <a href="#"> Registrar </a></li>
                            <li> <a href="#"> Minha Conta </a></li>
                            <li> <a href="#"> Meus Pedidos </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Social</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div>
            </section>

            <section class="footer-bottom border-top row">
                <div class="col-md-2">
                    <p class="text-muted"> &copy @DateTime.Now.Year KlingerStore </p>
                </div>
                <div class="col-md-8 text-md-center">
                    <span class="px-2">Leandro.klingeroliveira@gmail.com</span>
                    <span class="px-2">+879-332-9375</span>
                    <span class="px-2">Rua Goiabeira 71, Parq Viana, Barueri-SP</span>
                </div>
                <div class="col-md-2 text-md-right text-muted">
                    <i class="fab fa-lg fa-cc-visa"></i>
                    <i class="fab fa-lg fa-cc-paypal"></i>
                    <i class="fab fa-lg fa-cc-mastercard"></i>
                </div>
            </section>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>