@inject IUser AppUser




   
    @if (AppUser.IsAuthentication())
    {
        <div class="text">
            <span class="text-muted">Olá! @AppUser.GetUserEmail()</span>
            <div>
                <a asp-controller="Order" asp-action="MyOrders">Conta</a> |
                <a asp-controller="Auth" asp-action="Logout"> Sair</a>
            </div>
        </div>
    }
    else
    {
        <div class="text">

            <div>
                <a asp-controller="Auth" asp-action="Login">Entrar</a> |
                <a asp-controller="Auth" asp-action="Register"> Registrar</a>
            </div>
        </div>
    }

</div>