@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Endereço";
}
<br />

@{
    ViewData["Title"] = "Meu Perfil";
}
<br />
<div class="row">
    <partial name="_Menu" />
    <main class="col-md-9">
        <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Meu Endereço</strong>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Cep</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="control-label">Logradouro</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <div class="form-group">
                            <label class="control-label">Número</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Complemento</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Bairro</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Cidade</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Estado</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>                
                <div class="row col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Atualizar" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>

