@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Produtos Favoritos";
}
<br />
<div class="row">
    <partial name="_Menu" />
    <main class="col-md-9">
        <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                <span>Order Date: 16 December 2018</span>
            </header>
          
        </article> 
    </main>
</div> 
