@model ClientViewModel
@{
    ViewData["Title"] = "Meu Perfil";
}
<br />
<div class="row">
    <partial name="_Menu" />
    <main class="col-md-9">
        <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Meu Perfil</strong>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Nome</label>
                            <input asp-for="Name.FirtName()" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Sobrenome</label>
                            <input asp-for="Name.LastName()" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="Cpf" class="control-label">Cpf</label>
                            <input asp-for="Cpf" class="form-control" disabled />
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">E-mail</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="control-label">Celular</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="form-group">
                            <label class="control-label">Telefone</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Atualizar" class="btn btn-outline-primary" />
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>
