<aside class="col-md-3">

    <ul class="list-group">
        <a class="list-group-item active" asp-controller="Client" asp-action="MyOrders"> Histórico de pedidos </a>        
        <a class="list-group-item" asp-controller="Client" asp-action="ReturnsAndRefunds"> Devolução e reembolsos </a>
        <a class="list-group-item" asp-controller="Client" asp-action="Profile"> Perfil </a>
        <a class="list-group-item" asp-controller="Client" asp-action="Address"> Endereço </a>
        <a class="list-group-item" asp-controller="Client" asp-action="Security"> Segurança </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" asp-controller="Auth" asp-action="Logout"> <i class="fa fa-power-off"></i> <span class="text">Sair</span> </a>

</aside>