@model LoginWithRecovery 

@{
    ViewData["Title"] = "Recovery code verification";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Você solicitou o login com um código de recuperação. Este login não será lembrado até que você forneça
    um código de aplicativo autenticador no login ou desabilite 2FA e faça login novamente.
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginWithRecoveryCode" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <label asp-for="RecoveryCode"></label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


