@model UserRegister

@{
    ViewData["Title"] = "Registrar";
}
<br />
<div class="card offset-3 col-md-6">
    <article class="card-body">
        <vc:summary></vc:summary>
        <header class="mb-4">
            <h4 class="card-title">Registrar</h4>
        </header>
        <form asp-action="Register" method="post">
            <div class="form-row">
                <div class="col form-group">
                    <label>Primeiro Nome</label>
                    <input asp-for="FirstName" class="form-control" placeholder="">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label>Segundo Nome</label>
                    <input asp-for="LastName" class="form-control" placeholder="">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label>Cpf</label>
                    <input asp-for="Cpf" class="form-control" placeholder="">
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input asp-for="Email" class="form-control" placeholder="">
                <span asp-validation-for="Email" class="text-danger"></span>
                <small class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Criar Senha</label>
                    <input class="form-control" asp-for="Password" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Confirmar Senha</label>
                    <input class="form-control" asp-for="ConfirmPassword" type="password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Celular</label>
                    <input class="form-control" asp-for="NumberPhone" >
                    <span asp-validation-for="NumberPhone" class="text-danger"></span>
                </div>                
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary btn-block"> Inscrever-se  </button>
            </div>
            <p class="text-muted">Ao clicar no botão 'Inscrever-se', você confirma que aceita nossos Termos de uso e Política de Privacidade.</p>
        </form>
        <hr>
        <p class="text-center">Tem uma conta? <a asp-controller="Auth" asp-action="Login">Entrar</a></p>
        <p class="text-center my-4">Ou Acesse Via</p>
        <div class="text-center mb-3">
            <a href="#" class="btn btn-icon rounded-circle btn-facebook"> <i class="fab fa-facebook-f"></i> </a>
            <a href="#" class="btn btn-icon rounded-circle btn-google"> <i class="fab fa-google"></i> </a>
            <a href="#" class="btn btn-icon rounded-circle btn-twitter"> <i class="fab fa-twitter"></i> </a>
        </div>
    </article>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}