
@{
    ViewData["Title"] = "TwoTactorAuthentication";
}

<br />
<div class="row">    
    <partial name="_MenuClientProfile" />
    <main class="col-md-9">
        <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Authenticação de dois fatores</strong>
                <span></span>
            </header>

        </article>
    </main>
</div>

