@model ProductViewModel
@{
    ViewData["Title"] = "GetProduct";
}

<br />

<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <a href="#"><img src="~/imagens/produtos/@Model.Image"></a>
                </div> 
                <div class="thumbs-wrap">
                    <a href="#" class="item-thumb"> <img src="~/imagens/produtos/@Model.Image"></a>                    
                </div> 
            </article> 
        </aside>
        <main class="col-md-6 border-left">
            <article class="content-body">

                <h2 class="title">@Model.Name</h2>

                <div class="rating-wrap my-3">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                            <img src="bootstrap-ecommerce-html/images/icons/stars-active.svg" alt="">
                        </li>
                        <li>
                            <img src="bootstrap-ecommerce-html/images/icons/starts-disable.svg" alt="">
                        </li>
                    </ul>
                    <small class="label-rating text-muted">132 Avaliações</small>
                    <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 Peças Vendidas </small>
                </div> 

                <div class="mb-3">
                    <var class="price h4">@Model.Value.ToString("C")</var>
                    <span class="text-muted">/unidade</span>
                </div>

                <p>@Model.Description</p>

                <dl class="row">
                    <dt class="col-sm-3">Model#</dt>
                    <dd class="col-sm-9"></dd>

                    <dt class="col-sm-3">Color</dt>
                    <dd class="col-sm-9"></dd>

                    <dt class="col-sm-3">Delivery</dt>
                    <dd class="col-sm-9"></dd>
                </dl>

                <hr>
                <div class="row">
                    <div class="form-group col-md flex-grow-0">
                        <label>Quantidade</label>
                        <div class="input-group mb-3 input-spinner">
                            <div class="input-group-prepend">
                                <button class="btn btn-light" type="button" id="button-plus"> + </button>
                            </div>
                            <input type="text" class="form-control" value="1">
                            <div class="input-group-append">
                                <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                            </div>
                        </div>
                    </div>                     
                </div> 
                <a href="#" class="btn  btn-primary"> Comprar Agora </a>
                <a href="#" class="btn  btn-outline-primary"> <span class="text">Adicionar Carrinho</span> <i class="fas fa-shopping-cart"></i>  </a>
            </article> 
        </main> 
    </div> 
</div> 